@{
    ViewBag.Title = "О компании";
}
<h2>@ViewBag.Title.</h2>
<h3>Мебельная фабрика «Мебельторг» — полувековая история создания элегантности и комфорта</h3>   

<br />
<div class="map-responsive col-lg-12 col-md-12 col-sm-12">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3a9d7416cd1141344541d009cff06e97ab18d8e7c60b3b3664193aa8bfd475b7&amp;source=constructor" width="1100" height="300" frameborder="0"></iframe>
</div>
<br />

<p>

Среди всех мебельных фабрик Беларуси ЗАО «Мебельторг» по праву занимает свое место на вершине, полностью оправдывая утверждение, 
что мебель в Витебске делать умеют, и делают это хорошо. Хотите доказательств? Ваше желание для нас – закон! <br><br>

Мебельная фабрика «Мебельторг» имеет в своем активе более 60 лет истории. Начав свою деятельность в 1950-х годах, мы достигли успехов во многом, 
завоевав признание покупателей не только в Беларуси, но и за ее рубежом.<br><br>

Сегодня «Мебельторг» — это узнаваемый среди мебельных фабрик Беларуси бренд, делом доказавший свою надежность. 
Продукция ЗАО «Мебельторг» отмечена многочисленными дипломами различных белорусских и международных выставок за дизайн, 
высокое качество, широкий производственный ассортимент, за высокий технический уровень производства.
Система менеджмента качества нашего предприятия сертифицирована на соответствие требованиям международного стандарта ИСО 9001:2008.
Вопрос экологии всегда являлся насущным для Беларуси. Вот почему мебельная фабрика «Мебельторг» отдает предпочтение только натуральным, 
экологически чистым материалам. Весь ассортимент нашей мебельной фабрики изготовлен из натуральной древесины и кожи, 
клеи и составы для обработки мебели проходят тщательный контроль. <br><br>
        
Не может не радовать покупателей и ассортимент ЗАО «Мебельторг». Огромное разнообразие спальных гарнитуров, наборы корпусной мебели, столовые, 
прихожие, шкафы, витрины, тумбы и комоды – это  более 500 моделей и модификаций. Наш дизайн сочетает в себе величество классических традиций и 
функциональность современных тенденций. А кожаные диваны и кресла по праву заслужили звание элитной мебели и стали визиткой нашей мебельной фабрики.
ЗАО «Молодечномебель» является лауреатом Премии правительства Республики Беларусь в области качества за 2005 и 2010 и 2015 год.<br><br>

Мы делаем нашу мебель в Молодечно для того, чтобы покупатели разных стран наслаждались ее комфортом в своих домах. 
Открыты и успешно функционируют салоны «МОЛОДЕЧНОМЕБЕЛЬ» в Минске и других городах Беларуси. Жители Москвы и России  уже по достоинству 
оценили качество белорусской мебельной фабрики «Мебельторг».

Получить прайс-лист, а также более подробную информацию о деятельности «Мебельторг», ценах и выпускаемой продукции  вы можете, 
обратившись  к нам по телефону (+37529)** ** **, ** ** **, и по электронной почте zhenek_dervoedov@mail.ru.

Мебельная фабрика «Мебельторг» — элегантный  комфорт для Вас и Вашего дома.</p>
