@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>ОФИС</strong> <br />
    Республика Беларусь, 210029 г. Витебск, просп. Строителей, 23. УНП 123456789 <br /><br />

    <strong>ПРИЁМНАЯ</strong> <br />
    <abbr title="Телефон">Тел.:</abbr>(0212) 88 88 88 <br />
    E-mail:   <a href="mailto:info@mebeltorg.by "> info@mebeltorg.by </a><br /><br />
    
    <strong> СБЫТА: </strong> <br />
    <abbr title="Телефон">Тел.:</abbr> (+375 29) 88-88-88 <br />
    Тел./факс.: (+375 33) 88-88-88 <br />
    E-mail: <a href="mailto:sbit@mebeltorg.by "> sbit@mebeltorg.by </a><br /><br />

    <strong>ОТДЕЛ СНАБЖЕНИЯ: </strong> <br />

    <abbr title="Телефон">Тел.:</abbr>(0212) 88 88 88 <br />

    По вопросам качества продукции обращайтесь: <br />
    Тел.:(0212) 88 88 88 <br />
    E-mail:  <a href="mailto:otk@mebeltorg.by "> otk@mebeltorg.by </a><br /><br />


</address>
