<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог товаров</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
 
</head>
<body>

    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">Type_of_furniture</a>
                    <a href="#" class="list-group-item">Type_of_furniture</a>
                    <a href="#" class="list-group-item">Type_of_furniture</a>
                    <a href="#" class="list-group-item">Type_of_furniture</a>
                    <a href="#" class="list-group-item">Type_of_furniture</a>
                </div>
            </div>
            <div class="col-md-8 products">
                <div class="row">
                    <div class="col-sm-4">
                        <div>
                            <div>
                                <a href="#"><img src="http://placehold.it/180x100" alt=""></a>
                            </div>
                            <p>
                                <a href="#">Name_of_furniture</a>
                            </p>
                            <p>Description</p>
                            <p>Price: 10.00 руб</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div>
                            <div>
                                <a href="#"><img src="http://placehold.it/180x100" alt=""></a>
                            </div>
                            <p>
                                <a href="#">Name_of_furniture</a>
                            </p>
                            <p>Description</p>
                            <p>Price: 10.00 руб</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div>
                            <div>
                                <a href="#"><img src="http://placehold.it/180x100" alt=""></a>
                            </div>
                            <p>
                                <a href="#">Name_of_furniture</a>
                            </p>
                            <p>Description</p>
                            <p>Price: 10.00 руб</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div>
                            <div>
                                <a href="#"><img src="http://placehold.it/180x100" alt=""></a>
                            </div>
                            <p>
                                <a href="#">Name_of_furniture</a>
                            </p>
                            <p>Description</p>
                            <p>Price: 10.00 руб</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div>
                            <div>
                                <a href="#"><img src="http://placehold.it/180x100" alt=""></a>
                            </div>
                            <p>
                                <a href="#">Name_of_furniture</a>
                            </p>
                            <p>Description</p>
                            <p>Price: 10.00 руб</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div>
                            <div>
                                <a href="#"><img src="http://placehold.it/180x100" alt=""></a>
                            </div>
                            <p>
                                <a href="#">Name_of_furniture</a>
                            </p>
                            <p>Description</p>
                            <p>Price: 10.00 руб</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div>
                            <div>
                                <a href="#"><img src="http://placehold.it/180x100" alt=""></a>
                            </div>
                            <p>
                                <a href="#">Name_of_furniture</a>
                            </p>
                            <p>Description</p>
                            <p>Price: 10.00 руб</p>
                        </div>
                    </div>

             
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script>
$(function(){



});
    </script>

</body>
</html>